<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Checker Board</title>
</head>
<body>
    <h1>Checker Board</h1>
    <div id="board">
        {% for x in range(0, rows) %}
        <div class="row">
            {% for y in range(0, columns) %}
                {% if (y+x)%2 == 1%}
                    <div class="box" style = "background-color : {{color0}};"></div>   
                {% else%}
                    <div class="box" style = "background-color : {{color1}};"></div>   
                {%endif%}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    
</body>
</html>